* {
    margin: 0px !important;
    padding: 0px !important;
}

body {
    height: 100%;
}

.container-fluid {
    padding-left: 34px !important;
    padding-right: 34px !important;
}

h3 {
    font-weight: 600;
    line-height: 24px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #fff;
}

.texto {
    font-weight: 300;
    line-height: 25px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #fff;
    text-decoration: none;
    pointer-events: none;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 80px !important;
    font-style: normal;
    font-weight: 400!important;
    line-height: 97px !important;
    letter-spacing: 0em;
    text-align: left;
    color: #fff
}

.nav-link {
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px
}

.pagina {
    background: #0A0A0A url("img/mao\ background.png") no-repeat right center;
}

.botao {
    font-family: 'Inter', sans-serif;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: transparent;
    padding: 10px 32px !important;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
}

.gradient-background {
    position: absolute;
    background: #DC06FF;
    left: -128.36px;
    top: -364.58px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-repeat: no-repeat;
    filter: blur(135.399px);
    transform: rotate(-22.54deg);
    position: fixed;
    z-index: -1;
}

.gradiente2 {
    top: -495px;
    left: -208px;
    width: 793.95px;
    height: 931.83px;
    background: linear-gradient(261.63deg, #7000FF 4.87%, #06FFF0 87.02%);
    filter: blur(305.034px);
    transform: rotate(54.35deg);
}

.gradiente1 {
    top: 69px;
    left: -344px;
    width: 500px;
    height: 500px;
    background: #067aff;
    filter: blur(87.03399999999999px);
}

#header {
    background: rgba(255, 255, 255, 0.15);
}

.header-conteudo {
    height: 75px;
    border-bottom: 1px solid #fff;
}

.header-logo {
    font-size: 15px;
    width: 125px;
}

.main {
    height: 90vh;
}

.primeira-sessao-descricao {
    width: 670px;
}

.primeira-sessao-rodape {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #fff;
    height: 76px;
    width: 100%;
}

.primeira-sessao-rodape-texto {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
}