* {
    margin: 0px !important;
    padding: 0px;
}

html {
    font-size: 1rem;
}

@media(max-width: 719px) {
    .display-2,
    .primeira-sessao-subtitulo {
        font-size: 50px !important;
        line-height: 50px !important;
        text-align: center;
    }
    .descricao-texto {
        font-size: 10px !important;
        text-align: center;
    }
    .primeira-sessao-powered {
        gap: 20px;
    }
}

@media(max-width: 621px) {
    .display-2,
    .primeira-sessao-subtitulo {
        font-size: 40px !important;
    }
    .descricao-texto {
        font-size: 10px !important;
    }
}

@media(max-width: 520px) {
    .display-2,
    .primeira-sessao-subtitulo {
        font-size: 30px !important;
        line-height: 30px !important;
        text-align: center;
    }
    .descricao-texto {
        font-size: 10px !important;
        text-align: center;
    }
    .primeira-sessao-powered {
        gap: 40px;
    }
}

@media(max-width: 375px) {
    .display-2,
    .primeira-sessao-subtitulo {
        font-size: 25px !important;
        line-height: 25px !important;
        text-align: center;
    }
    .descricao-texto {
        font-size: 10px !important;
        text-align: center;
    }
    .primeira-sessao-powered {
        align-items: center;
    }
    .botao {
        padding: 5px 10px !important;
        font-size: 10px !important;
    }
}

@media(max-width: 1000px) {
    #imagem {
        display: none;
    }
    .background {
        height: 600px;
    }
}

@media(max-width: 1067) {
    .primeira-sessao-rodape-texto {
        font-size: 10px;
    }
}

body {
    background-color: #0A0A0A !important;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.container-fluid {
    padding-left: 34px !important;
    padding-right: 34px !important;
}

h3 {
    font-weight: 600;
    line-height: 24px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #fff !important;
}

.texto {
    font-weight: 300;
    /* line-height: 25px; */
    /* font-size: 14px; */
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #fff;
    text-decoration: none;
    pointer-events: none;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400!important;
    line-height: 97px !important;
    letter-spacing: 0em;
    text-align: left;
    color: #fff
}

.nav-link {
    font-family: 'Inter', sans-serif;
    color: #fff !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px
}

.pagina {
    position: absolute;
    z-index: -1;
}

.botao {
    font-family: 'Inter', sans-serif;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: transparent;
    padding: 10px 32px !important;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
}

.botao:hover {
    background: linear-gradient(99.74deg, #06DBAC 5.23%, #BD00FF 92.7%);
    border: none;
    padding: 11px 33px !important;
}

.gradient-background {
    position: absolute;
    background: #DC06FF;
    max-width: 600px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
    filter: blur(135.399px);
    transform: rotate(-22.54deg);
    z-index: -1;
    margin-left: 50px;
}

.gradiente2 {
    top: -495px;
    left: -208px;
    max-width: 793.95px;
    width: 100%;
    max-height: 931.83px;
    height: 100%;
    background: linear-gradient(261.63deg, #7000FF 4.87%, #06FFF0 87.02%);
    filter: blur(305.034px);
    transform: rotate(54.35deg);
}

.gradiente1 {
    top: 69px;
    left: -344px;
    max-width: 500px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    background: #067aff;
    filter: blur(87.03399999999999px);
}

.gradiente3 {
    left: -128.36px;
    top: -364.58px;
}

#header {
    background: rgba(255, 255, 255, 0.15);
}

.header-conteudo {
    height: 75px;
    border-bottom: 1px solid #fff;
}

.header-logo {
    font-size: 15px;
    width: 125px;
}

.main {
    height: 100vh;
}

.primeira-sessao-descricao {
    max-width: 670px;
}

.primeira-sessao-rodape {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #fff;
    /* height: 76px; */
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
}

.primeira-sessao-powered-botao {
    margin-left: 20px;
}

.norwap {
    white-space: nowrap;
    overflow: hidden;
}

.primeira-sessao-powered-texto {
    font-size: 12px;
}

.primeira-sessao-rodape-texto {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: 20px;
    text-transform: uppercase;
}

.segunda-sessao-background {
    width: 100%;
    height: 100%;
    position: relative;
}

.gabriente-segunda-sessao-imagem {
    position: absolute;
    background: #DC06FF;
    filter: blur(190px);
    transform: none;
    background: linear-gradient(180deg, #2603FB 0%, #DC06FF 100%);
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 600px;
}

.globo {
    width: 100%;
    height: 100%;
    max-width: 32px;
    max-height: 32px;
}

.terceira-sessa-imagens {
    width: 100%;
    height: 100%;
    position: relative;
}